# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. numpy
3. pandas

|Data Science tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**objectives:**
* python
* R
* SQL

## Author  
Madawa Abeysinghe